@use '../../../constants.scss';

.container-quadra-card{
    height: 120px;
    border: 1px green solid;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    
    .container-info{
        width: calc(95% - 120px);
        display: flex;
        flex-direction: column;
        margin: 10px;
        

        .title{
            margin: 0;
            font-size: 1rem;
        }


        .descricao{
            font-size: .8rem;
            color: constants.$DARK_GRAY;
        }
    }
    
    
    .reserva-botao{
        width: 50%;
        height: 30px;
        align-self: flex-end;
        margin-top: auto;
        font-size: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }

}
