
.container-dashboard{
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .map{
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
  }
  
  .leaflet-bar{
    display: none;
  }
  
  
  .overlay-navbar{
    position: absolute;
    top: 1px;
    width: 100%;
    height: 125px;
    background-color: #ffffff;
    z-index: 1000;
    justify-items: center;
  }  