.container-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.map {
  height: calc(100vh - 210px);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container-map{
  position: absolute;
  z-index: 0;
  top: 0;
}


.leaflet-bar {
  display: none;
}

.leaflet-bottom{
  display: none;
}


.overlay-navbar {
  height: 150px;
  background-color: #ffffff;
  justify-items: center;
}

.bottom-bar {
  z-index: 10;
  height: 60px;
  background: linear-gradient(90deg, rgba(0, 140, 79, 1) 0%, rgba(0, 204, 115, 1) 100%);
}

