@use '../../constants';

.container-dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.map {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
}

.container-map{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
}

.icon-pin{
  object-fit: contain;
}


.leaflet-bar {
  display: none;
}

.leaflet-bottom{
  display: none;
}


.overlay-navbar {
  height: 124px;
  background-color: #ffffff;
  justify-items: center;
  border-bottom: 4px solid constants.$LIGHT_GREEN;
}

.bottom-bar {
  //z-index: 10;
  display: none;
  height: 60px;
  background: constants.$GRADIENT;
}

.list-menu {
  display: flex; /* Coloca os itens lado a lado */
  list-style: none; /* Remove os marcadores padrão */
  padding: 0; /* Remove o padding padrão */
  margin: 12px; /* Remove a margem padrão */
  justify-content: space-between;
}

.list-menu li {
  margin-right: 15px; /* Espaçamento entre os itens */
  font-size: 30px;
  color: constants.$WHITE;
}

/* Para remover a margem do último item */
.list-menu li:last-child {
  margin-right: 0;
}




@media (min-width: 720px) {

  .map{
    flex-direction: row;
    position: static;
    width: 100%;
    
  }

  .bar{
    width: 50%;
    justify-content: center;
    gap: 1rem;
  }
 
  .bottom-element{
    transform: none !important;
    position: static;
    //width: 40%;
    flex: 1;

    .card:first-child {
      border-top: 4px #008C4F solid;;
    }

    .lista{
      border: none;
      border-radius: 0;
      box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1);

      .seta-icon{
        display: none;
      }
    }
    
  }

  .container-map{
    position: static;
    flex: 2;
  }
}
