@use '../../constants.scss' as *;

.container-agendamento {


    .seletor-data {
        display: flex;
        align-items: center;
        overflow: hidden;
        width: 100%;
    }

    .dias {
        /* Remove o estilo do scroll */
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        
        &::-webkit-scrollbar { 
            display: none;  /* Safari and Chrome */
        }

        display: flex; /* Mantém os itens em linha */
        gap: 10px;
        width: 100%; /* Deve ser maior que a div pai para o scroll aparecer */
        overflow-x: auto; /* Permite apenas rolagem horizontal */
        white-space: nowrap; /* Mantém os elementos na mesma linha */
       
    }

    .dia {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: .5rem 0;
        display: flex;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
        color: $DARK_GRAY;
    }

    .dia.selected{
        background-color: $BTN_GREEN;
        color: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    }

    .arrow-button{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: $BTN_GREEN;
    }

    .btn-left{
        margin-right: .5rem;
    }

    .btn-right{
        margin-left: .5rem;
    }

    .container-horarios{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
    }

    .horario{
        display: flex;
        padding: 1rem;
        justify-content: space-between;
        border: 1px solid $DARK_GRAY;
        border-radius: 1rem;
        color: $DARK_GRAY;

        i{
            font-size: 1.5rem;
            color: $DARK_GRAY;
        }
    }

    .horario.selected{
        border: 2px solid $BTN_GREEN;
        color: black;
        font-weight: bold;

        i{
            color: $BTN_GREEN;
        }
    }

    .bottom-up{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $BTN_GREEN;
        color: white;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        font-weight: bold;
    }

    
}
