.container-agendamento {

    .seletor-data {
        display: flex;
        overflow: hidden;
        width: 100%;
    }

    .dias {
        display: flex; /* Mantém os itens em linha */
        gap: 10px;
        width: 100%; /* Deve ser maior que a div pai para o scroll aparecer */
        overflow-x: auto; /* Permite apenas rolagem horizontal */
        white-space: nowrap; /* Mantém os elementos na mesma linha */
       
    }

    .dia {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        font-size: 0.8rem;
        align-items: center;
        justify-content: center;
    }
}
