
.header {
    margin-top: 1rem;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .container-logo {
        width: 30%;
        height: 100%;

        img{
            max-width: 150px;
            width: 100%;
            height: auto;
            aspect-ratio: 1 / 1;
        }
    }
    
    .container-info {
        margin-left: 15px;
        width: 50%;
        height: 100%;
        padding: 1rem 0;

        .title {
            width: max-content;
            margin: 0;
            font-size: 20px;
            color: white;
        }

        p{
            width: fit-content;
        }
    }
}

.main-content {
    width: 100%;
    flex: 1;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;

    h3{
        margin: .5rem 0;
    }

    .list-areas{
        display: inherit;
        flex-direction: inherit;
        gap: 1rem;
    }
}
