@use '../../../constants.scss';

.card {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: white;
    color: black;
    height: 150px;
    border-bottom: 4px #008C4F solid;
}

.logo-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border: 1px constants.$DARK_GREEN solid;
    border-radius: 10px;
    position: relative;
    margin-left: 15px;
    //box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.logo-quadra {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% - 150px);
    height: 100%;
    text-align: left;
}

.titulo{
    color: black;
    margin-bottom: 0;
}

.endereco{
    margin-top: 5px;
    font-size: 14px;
    color: #ACA7A7;
}