@use '../../../constants.scss';

.card {
    width: 95%;
    justify-content: space-between;
    display: flex;
    color: black;
    height: 150px;
    border: 2px constants.$GRAY solid;
    border-radius: 10px;
    margin-bottom: 10px;
}

.logo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: calc(100% - 150px);
    text-align: left;
}

.titulo{
    color: constants.$DARK_GREEN;
    margin: 10px 0 0 10px;
}

.endereco{
    font-size: 0.7rem;
    margin: 10px 0 0 10px;
}