@use '../../../constants';

.bottom-element {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  width: 100%;
  height: inherit;
  /* Para preencher todo o contêiner quando expandido */
  color: white;
  text-align: center;
  transform: translateY(95%);
  /* Começa fora da visualização */
}

.lista {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  color: black;
  border-top: 10px solid constants.$DARK_GREEN;
  background-color: rgb(245, 245, 245);
}

.setacontainer{
  height: 40px;
  display: flex;
  justify-content: center;
  align-self: end;
}
@keyframes float {

  0%,
  100% {
    transform: translateY(0);
    /* Posição inicial */
  }

  50% {
    transform: translateY(5px);
    /* Movimenta para cima */
  }
}

/* Classe para aplicar ao ícone */
.iconfloat {
  animation: float 1.5s infinite ease-in-out;
}