@use '../../../constants';

.bottom-element {
  position: absolute;
  z-index: 1;
  bottom: 50px;
  width: 100%;
  height: inherit;
  /* Para preencher todo o contêiner quando expandido */
  color: white;
  text-align: center;
  transform: translateY(95%);
  /* Começa fora da visualização */
}

.lista{
  width: inherit;
  height: inherit;
  border-radius: 20px;
  border-top: 10px solid constants.$DARK_GREEN;
  background-color: white;
}