
  .bottom-element {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 300px; /* Para preencher todo o contêiner quando expandido */
    background: blue;
    color: white;
    text-align: center;
    transform: translateY(100%); /* Começa fora da visualização */
  }
  