.bar{
    height: 30;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonBar{
    display: inline-flex;
    margin: 0;
    width: fit-content;
    align-items: center;
    font-size: 12px;
    height: 28px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
}

.icon{
    margin-right: 10px;
    font-size: 20px;
}
