.bar{
    height: 30px;
    width: max-content;
    display: flex;
    gap: .5rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.buttonBar{
    display: inline-flex;
    margin: 0;
    width: fit-content;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: inherit;
    height: 28px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
}

.icon{
    margin-right: 10px;
    font-size: 20px;
}

// .MuiBox-root{
//     width: 15rem;
//     padding: 3rem;
// }
