/* Estilo para a barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 40px; /* Bordas arredondadas */
    margin-top: 20px;
    padding: 5px 10px;
    width: 340px;
    height: 40px;
    background-color: transparent; 
    /* Sem cor de fundo */
  }
  
  /* Estilo do campo de entrada */
  .search-bar input {
    border: none; /* Remove as bordas do campo */
    outline: none; /* Remove contorno ao focar */
    flex: 1; /* Faz o campo ocupar o espaço disponível */
    font-size: 16px;
    background-color: transparent; /* Sem cor de fundo */
    color: #333; /* Cor do texto */
    margin: 0;
  }
  
  /* Placeholder estilizado */
  .search-bar input::placeholder {
    color: #aaa; /* Placeholder em cinza claro */
  }
  
  /* Estilo do ícone */
  .search-bar .icon {
    font-size: 18px;
    color: #888; /* Cor da lupa */
    margin-right: 10px;
  }
  