// Header.scss
@use '../../constants.scss';

.header-component {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 20px;

    .logo {
        width: 170px;
        height: fit-content;
    }

    .nav {
        display: none;
    }

    .menu-icon {
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (min-width: 720px) {
    .header-component {
        min-height: 40px;
        height: 5rem;
        max-height: 80px;


        .nav {
            display: flex;
            flex-direction: column;

            ul {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            li {
                list-style: none;
            }

            a {
                color: #333;
                text-decoration: none;
                font-size: 1rem;
                padding: 4px;
                border-radius: 4px;

                &:hover {
                    border-bottom: 4px solid constants.$BTN_GREEN;
                }
            }
        }

        .logo {
            //min-width: 100px;
            width: 10rem;
        }

        .menu-icon {
            display: none;
        }
    }

    // .header.active .nav {
    //     display: flex;
    // }
}