// Header.scss

.header-component {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #333;

    .logo {
        width: 170px;
        height: fit-content;
        font-weight: bold;
        margin-left: 20px;
    }

    .nav {
        display: flex;
        gap: 1rem;

        ul {
            display: flex;
            flex-direction: row;
        }

        li {
            list-style: none;
        }

        a {
            color: #333;
            text-decoration: none;
            padding: 0.5rem 1rem;
            border-radius: 4px;

            &:hover {
                background-color: #444;
            }
        }
    }

    .menu-icon {
        display: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .header-component { 
        justify-content: center;

        .nav {
            display: none;
            flex-direction: column;
            width: 100%;

            a {
                padding: 1rem;
                width: 100%;
                text-align: left;
            }
        }

        .logo {
            margin-left: 0;
        }

        .menu-icon {
            display: none;
        }
    }

    .header.active .nav {
        display: flex;
    }
}