// Header.scss
@use '../../constants.scss';

.header-component {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;

    .logo {
        width: 170px;
        height: fit-content;
    }

    .nav {
        display: none;
    }

    .menu-icon {
        display: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

@media (min-width: 720px) {
    .header-component {
        justify-content: space-between;
        height: 40px;



        .nav {
            display: flex;
            flex-direction: column;
            margin-right: 20px;

            ul {
                display: flex;
                flex-direction: row;
                gap: 8px;
            }

            li {
                list-style: none;
            }

            a {
                color: #333;
                text-decoration: none;
                font-size: 0.6rem;
                padding: 4px;
                border-radius: 4px;

                &:hover {
                    border-bottom: 4px solid constants.$BTN_GREEN;
                }
            }
        }

        .logo {
            width: 100px;
            margin-left: 20px;
        }

        .menu-icon {
            display: none;
        }
    }

    // .header.active .nav {
    //     display: flex;
    // }
}