@use '../constants.scss';

.Login {
  padding: 20px;
}

button {
  height: 50px;
  margin-top: 1rem;
  width: 100%;
}

.google-register {
  gap: 8px;
  width: 100%;
}

input {
  margin-bottom: 10px;
  width: 100%;
}

.logo-ql {
  width: 100px;
  margin-bottom: 20px;
  align-self: left;
}

h2 {
  font-size: 2rem;
  line-height: 0.8;
  width: 100%;
}



@media (min-width: 1024px) {
  .Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  button {
    height: 60px;
    margin-top: 1.5rem;
    background-color: constants.$BTN_GREEN;
    width: 80%;
    color: constants.$WHITE;
    border: none;
    cursor: pointer;
  }

  .google-register {
    display: flex;
    align-items: center;
    justify-content: center;
    color: constants.$BTN_GREEN;
    background-color: transparent;
    border: 1px solid constants.$BTN_GREEN;
    gap: 12px;
    width: 80%;
    margin-top: 1rem;
  }

  input {
    width: 80%;
    border-width: 1px;
    border-style: solid;
  }

  label {
    display: block;
    text-align: left;
    color: constants.$BLACK;
    width: 80%;
    margin-bottom: 5px;
  }

  .logo-ql {
    width: 200px;
    height: auto;
    margin-bottom: 30px;
  }

  h2 {
    text-align: left;
    font-size: 2.5rem;
    white-space: pre-wrap;
    line-height: 1;
    color: constants.$DARK_GREEN;
    width: 80%;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px
  }
}