@use '../constants.scss';

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-form{
  margin-top: 30px;
  padding: 20px;

  .title {
    text-align: left;
    font-size: 2.5rem;
    white-space: pre-wrap;
    line-height: 1;
    color: constants.$DARK_GREEN;
    width: 80%;
    margin-bottom: 20px;
  }

  button{
    width: 100%;
    margin-top: 15px;
  }

  p{
    margin-top: 20px;
    text-align: center;
  }

  a{
    color: constants.$DARK_GREEN;
    text-decoration: none;
    font-weight: 700;
  }
}

input {
  margin-bottom: 10px;
  width: 100%;
}

.button-green {
  height: 50px;
  background-color: constants.$BTN_GREEN;
  color: constants.$WHITE;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.google-register {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: constants.$BTN_GREEN;
  background-color: transparent;
  border: 1px solid constants.$BTN_GREEN;
  gap: 12px;
}




@media (min-width: 1024px) {
  

  input {
    width: 80%;
    border-width: 1px;
    border-style: solid;
  }

  label {
    display: block;
    text-align: left;
    color: constants.$BLACK;
    width: 80%;
    margin-bottom: 5px;
  }

  

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px
  }
}