@use 'constants';

#root, .App{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

input {
    font-size: 1rem;
    padding: .7rem;
    margin-bottom: 1rem;
    border: 1px constants.$GRAY solid;
    border-radius: 6px;
    color: black;
    width: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

label{
    margin-bottom: 0.5rem;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
}