@use 'constants';

#root .App {
    height: 100vh;
    width: inherit;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}



input {
    height: 40px;
    box-sizing: border-box;
    background-color: constants.$WHITE;
    border: 1px constants.$GRAY solid;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 1rem;
    color: constants.$GRAY;
}

button {
    border-radius: 8px;
    height: 50px;
    font-size: 1rem;
    padding: 0 8px;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
}