@use 'constants';

#root {
    width: 100%;
    height: 100%;
}

.App {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
}

input {
    height: 40px;
    box-sizing: border-box;
    background-color: constants.$WHITE;
    border: 1px constants.$GRAY solid;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 1rem;
    color: constants.$GRAY;
}

button{
    border-radius: 8px;
    height: 50px;
    font-size: 1rem;
    padding: 0 8px;
}