#root {
    width: 100%;
    height: 100%;
}

.App {
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    /* background-color: rgba(239, 239, 239, 1) */
}

input {
    height: 40px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px #D3D3D3 solid;
    border-radius: 8px;
    padding-left: 10px;
    font-size: 1rem;
    color: #D3D3D3;
}

button{
    border-radius: 8px;
    height: 50px;
    font-size: 1rem;
    padding: 0 8px;
}