@use "constants";

#root,
.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: constants.$LIGHT_GREEN;
}

input {
    font-size: 1rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px constants.$GRAY solid;
    border-radius: 6px;
    color: black;
    width: 100%;
    &::placeholder {
        color: constants.$GRAY;
    }
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

label {
    margin-bottom: 0.5rem;
    color: constants.$DARK_GRAY;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin: 0;
}

.google-register {
    background-color: transparent;
    color: constants.$DARK_GRAY;
    border: 1px solid constants.$DARK_GRAY;
    gap: 12px;
}

.button-green {
    background-color: constants.$BTN_GREEN;
    color: constants.$WHITE;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}
