body {
  justify-content: center;
  overflow: hidden;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
  font-family: 'Inter', sans-serif;
}

div {
  text-align: center;
}

#root{
  height: 100%;
  overflow: auto;
  border-radius: 8px;
  scrollbar-width: none;
}

input {
  height: 50px;
  font-size: 1rem;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-color: #D3D3D3;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 10px auto;
  padding-left: 10px;
}

label{
  display: block;
  text-align: left;
  color: #000000;
}

button {
  height: 50px;
  margin-top: 1rem;
  background-color: #01AF63;
  width: 100%;
  color: white;
  border: none;
  cursor: pointer;
}

.google-register{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #01AF63;
  background-color: transparent;
  border: 1px solid #01AF63;
  gap: 8px;
}

button:hover {
  background-color: #45a049;
}

img{
  margin-bottom: 
  20px;
}

.App{
  background-color: #EFEFEF;
  padding: 20px;
}




h2{
  text-align: left;
  font-size: 2rem;
  white-space: pre-wrap;
  line-height: 0.8;
  color: #005832;
}

  @media (min-width: 450px) {
    div{
      font-size: 12px;
    }
    input{
      height: 30px;
      font-size: 12px;
    }
    .App {
      width: 250px;
    }

    button{
      height: 40px;
    }
  }