

input {
  height: 50px;
  font-size: 1rem;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  border-color: #D3D3D3;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  margin: 10px auto;
  padding-left: 10px;
}

label {
  display: block;
  text-align: left;
  color: #000000;
}




img {
  margin-bottom:
    20px;
}

.App {
  border-radius: 8px;
  overflow: hidden;
  margin: 0;
  background-color: #EFEFEF;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
}


h2 {
  text-align: left;
  font-size: 2rem;
  white-space: pre-wrap;
  line-height: 0.8;
  color: #005832;
}

@media (min-width: 450px) {
  div {
    font-size: 12px;
  }

  input {
    height: 30px;
    font-size: 12px;
  }

  .App {
    width: 250px;
  }

  button {
    height: 40px;
  }
}