
$BACKGROUND: #f5f5f5;
$WHITE: #FFFFFF;
$BLACK: #000000;
$GRAY: #D3D3D3;
$DARK_GRAY: #727881;
$DARK_GREEN: #005832;
$LIGHT_GREEN: #00BE6B;
$BTN_GREEN: #01AF63;
$GRADIENT: linear-gradient(90deg, $DARK_GREEN, $LIGHT_GREEN);
    

    

