@use './constants';

:root {
  font-family: 'Inter', sans-serif;
}

body{
  background: constants.$GRADIENT;
  height: calc(100vh - 20px);
  width: calc(100vw - 20px);
  display: block;
  margin: 10px;
}



