:root {
    --primary-color: #4caf50;
    --font-main: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body {
    font-family: var(--font-main);
    width: 100vw;
    height: 100vh; 
}
